In [3]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
data =pd.read_csv('crop.csv')
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [11]:
#splitting input and the output part
X = data.drop(columns=['label'])
Y = data['label']


model = DecisionTreeClassifier()
model.fit(X, Y)


#data to be predicted
predictions =model.predict([[70,10, 10, 23.603016, 40.3, 6.7, 140.91]])
print(predictions)

['coffee']

In [7]:
#Desplaying accurassy of the system
X = data.drop(columns=['label'])
Y = data['label']
X_train,X_test, Y_train, Y_test= train_test_split(X,Y,test_size=0.2)


model =DecisionTreeClassifier()
model.fit( X_train, Y_train )
predictions =model.predict(X_test)


score =accuracy_score(Y_test, predictions)
print(score)

0.9818181818181818